/* General App colors */

/* About Panel */
#about-panel {
    height: 0;
    width: 640px;
    transition: height 0.6s ease;
    color: white;
    visibility: hidden;
    position: absolute;
    right: 30px;
    bottom: 32px;
}

#about-panel.show-panel {
    height: 300px;
    visibility: visible;
    z-index: 9999999999;
}

#about-panel .split-flex {
    display: flex;
    flex-flow: row;
    opacity: 0;
    transition: opacity 1s ease;
}

#about-panel .split-flex.show-content {
    opacity: 1;
}

#about-panel svg {
    margin-left: 70px;
    margin-top: 45px;
}

#about-panel .info-flex {
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 40px;
}

#about-panel h1 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 5px;
}

#about-panel p#version {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 30px;
}

#about-panel p.credits {
    font-size: 14px;
}

#about-panel p.rights {
    font-size: 10px;
    margin-top: 40px;
}

#about-panel button#about-button {
    position: absolute;
    right: 30px;
    bottom: 25px;
    width: 80px;
}

#about-panel button#about-button:hover {
    cursor: pointer;
}

/* Player */
.middle .controls .shuffle-icon.on path.stroked {
    stroke: dodgerblue;
}

.middle .controls .shuffle-icon.on path.filled {
    fill: dodgerblue;
}

.middle .controls .loop svg.loop-icon.on path.filled {
    fill: dodgerblue;
}

.middle .volume svg g.on.triggered path.filled {
    fill: dodgerblue;
}

.middle .volume svg g.on.triggered path.stroked {
    stroke: dodgerblue;
}

input[type="range"].slider::-webkit-slider-thumb {
    background: white;
    box-shadow: -90px 0 0 88px dodgerblue;
}

/* - Error messages - */
.error-message {
    color: #ff7a70;
}

.error-message .cancel-btn svg path {
    fill: #ff7a70;
}

.error-message .tight-listing::-webkit-scrollbar-thumb {
    background: #df1203;
}

.error-message .tight-listing::-webkit-scrollbar {
    background: #ff7a70;
}

.warn-message {
    border-color: #ffc107;
    color: #ffc107;
}

.warn-message .cancel-btn svg path {
    fill: #ffc107;
}

.warn-message .tight-listing::-webkit-scrollbar-thumb {
    background: #9c790f;
}

.warn-message .tight-listing::-webkit-scrollbar {
    background: #ffc107;
}

.fail-message {
    border-color: #ff8d00;
    color: #ff8d00;
}

.fail-message .cancel-btn svg path {
    fill: #ff8d00;
}

.fail-message .tight-listing::-webkit-scrollbar-thumb {
    background: #b16201;
}

.fail-message .tight-listing::-webkit-scrollbar {
    background: #ff8d00;
}


/* App EQ */
.eq-container .eq-inner-container .eq input.preamp::-webkit-slider-thumb, .eq-container .eq-inner-container .eq .Hz-container input.Hz-item::-webkit-slider-thumb, .eq-container .eq-inner-container .eq .KHz-container input.KHz-item::-webkit-slider-thumb {
    background: dodgerblue;
}


/* Search Component colors */
.div-hor.holder input#search-input:focus {
    border-color: rgb(78,149,255);
}


/* SidePane Component colors */
#app .vertical-div .entity-listing h4 {
    color: #cecece;
}

#app .vertical-div .vertical-div-holder .entity.activeTarget p {
    color: dodgerblue;
}

#app .vertical-div .entity p#hovered-text {
    color: rgba(30, 144, 255, 0.51);
}


/* Toolset Component colors */
.main-toolset-container .item.activeIcon svg path, .main-toolset-container-alt .item.activeIcon svg path {
    fill: dodgerblue;
}


/* Audio / settings Toolset */
.bar {
    background: dodgerblue;
}


/* Trackspane Component colors */
tbody tr:hover span {
    background: transparent;
}

.short {
    background: transparent;
}

input.playlist-input:focus {
    border-color: dodgerblue;
}

.fav-bar {
    background: transparent;
}

tbody tr div.fav-bar.fav, tbody tr:hover div.fav-bar.fav {
    background: deeppink;
}


/* Settings */
.info-input-field-nm {
    border-bottom: 2px solid #cecece;
}

/* General */
.option-item input:focus {
    border-bottom: 2px solid dodgerblue;
}

.flex button.dialog-button:hover {
    background: rgba(110, 133, 167, 0.87);
}

.flex .switch.checked {
    background: dodgerblue;
}

.flex select {
    border: 2px solid transparent;
}

.flexed-div button {
    background: dodgerblue;
}

.flexed-div button p {
    color: white;
}

.flexed-div button svg path {
    fill: white;
}

.option-item .flex input#settings-input:focus {
    border-color: dodgerblue;
}

.flex .dialog-button-alt {
    background: dodgerblue;
}

.dialog-button p.button-p {
    color: white;
}

.dialog-button svg path {
    fill: white;
}

button.dialog-button.dialog-button-alt.further.greyed-button:hover, button.dialog-button-alt.furthest.greyed-button:hover {
    background: dodgerblue;
}


/* Trackspane Component colors */
tr#track-item:hover td, tbody tr:hover div {
    background: #0693f9ab;
}

tr#track-item.activeTrack:nth-child(even) td {
    background: #1d8fff;
}

tr#track-item.activeTrack:nth-child(odd) td {
    background: #208bf5fa;
}

tr#track-item.activeTrack td span {
    color: white;
}

tr#track-item.activeTrack td {
    background: #275473;
}

tbody tr:hover * {
    color: white;
}

tbody tr:hover span {
    background: transparent;
}
