/* General App colors */
body {
    background: #2f2f2f;
}

/* - Scroll bars - */

/* Scrollbar track */
::-webkit-scrollbar {
    background: #b7b8b9;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #808088;
}

/* - Error messages - */
.status-message, .error-message, .warn-message, .fail-message {
    background: #262626;
}

.status-message {
    border-color: #3ca735;
    color: #3ca735;
}

.status-message .cancel-btn svg path {
    fill: #3ca735;
}

.error-message {
    border-color: #d24136;
    color: #ff7a70;
}

.error-message .cancel-btn svg path {
    fill: #ff7a70;
}

.warn-message {
    border-color: #ffc107;
    color: #ffc107;
}

.warn-message .cancel-btn svg path {
    fill: #ffc107;
}

.fail-message {
    border-color: orange;
    color: orange;
}

.fail-message .cancel-btn svg path {
    fill: orange;
}

/* Search Component colors */
.search-icon path{
    fill: #171717;
}

.search-icon:hover path {
    fill: #a0a0a0;
}

.div-hor.holder input#search-input {
    background: #212121;
    color: #7C7C7C;
}

.div-hor.holder input#search-input:focus {
    border-color: rgb(78,149,255);
}

.div-hor.holder input#search-input::placeholder {
    color: #7C7C7C;
}

/* SidePane Component colors */
#app .virtical-div {
    background: #262626;
}

#app .virtical-div .entity p {
    color: #a0a0a0;
}

#app .virtical-div .entity p:hover {
    color: rgba(30, 144, 255, 0.51);
}

#app .virtical-div .entity p#hovered-text {
    color: rgba(30, 144, 255, 0.51);
}

#app .virtical-div .entity-listing h4 {
    color: #cecece;
}

#app .virtical-div .entity.greyedText p {
    color: #cecece;
}

#app .virtical-div .entity.activeTarget p {
    color: dodgerblue;
}

#app .virtical-div .empty-listing h4 {
    color: #c5c5c5;
}

#app .virtical-div::-webkit-scrollbar, #app .virtical-div-holder::-webkit-scrollbar {
    background: #171717;
}

/* Toolset Component colors */
.main-toolset-container, .main-toolset-container-alt {
    box-shadow: 0px 4px 15px 0px #171717;
    background: #212121;
}

.main-toolset-container .item .icon path, .main-toolset-container-alt .item .icon path {
    fill: #a0a0a0;
}

.main-toolset-container .item.activeIcon svg path, .main-toolset-container-alt .item.activeIcon svg path {
    fill: dodgerblue;
}

/* Audio / Audio settings Toolset */
.bar {
    background: dodgerblue;
}

.greyBar {
    background: #525252;
}

.main-toolset-container .item svg.icon.greyedIcon path {
    fill: #525252;
}

/* Trackspane Component colors */
.tracklist {
    background: #2f2f2f;
}

.empty-pool-info svg path {
    fill: #5a5a5a;
}

th {
    background: #262626;
    color: grey;
}

td, th {
    color: #a0a0a0;
}

tr:nth-child(odd) {
    background: #353535;
}

tbody tr:hover td, tbody tr:hover div {
    background: rgba(30, 144, 255, 0.51);
}

tbody tr:hover * {
    color: white;
}

tbody tr:hover span {
    background: transparent;
}

.hover#track-item td, .hover div {
    background: rgba(30, 144, 255, 0.51);
}

.hover#track-item span {
    background: transparent;
}

.hover#track-item * {
    color: white;
}

.short {
    background: transparent;
}

.empty-pool-info h4 {
    color: grey;
}

.playlist-modal {
    background: white;
    border-color: lightgrey;
    color: grey;
}

.playlist-input {
    border-color: lightgrey;
    color: grey;
}

.playlist-input-focus {
    border-color: dodgerblue;
}

.playingTrack td {
    background: #545454;
    color: #b7b8b9;
}

.fav-bar {
    background: transparent;
}

.fav {
    background: deeppink;
}

.activeTrack#track-item td {
    background: dodgerblue;
    color: white;
}

/* Settings */
.main-panel {
    background: #2f2f2f;
}

.main-panel h4, .main-panel h3 {
    color: #9e9e9e;
}

.info {
    color: #9c9c9c;
}

.main-panel .headings h4.active-setting {
    color: dodgerblue;

}

/* General */
.option-item input  {
    border-bottom: 2px solid grey;
    color: grey;
}

.option-item input::placeholder {
    color: grey;
}

.option-item input:focus {
    border-bottom: 2px solid dodgerblue;
}

.flex .switch {
    background: #3e3e3e;
}

.flex .switch.checked {
    background: dodgerblue;
}

.flex .slider {
    background: grey;
}

.flex .slider.checked {
    background: #b7b8b9;
}

.flex select {
    background: #3e3e3e;
    color: white;
    border: 2px solid transparent;
}

.flex button {
    background: #353535;
    color: white;
}

.flex button:hover {
    background: #d24136;
}

.flexed-div button {
    background: dodgerblue;
}

.flexed-div button p {
    color: white;
}

.flexed-div button svg path {
    fill: white;
}

input#settings-input {
    border-bottom-color: grey;
}

input#settings-input:focus {
    border-bottom-color: dodgerblue;
}

.flex .dialog-button:hover {
    background: #3ca735;
}

.flex .dialog-button-alt {
    background: dodgerblue;
}

.flex .dialog-button-alt:hover {
    background: #d24136;
}

.flex .dialog-button-alt:hover {
    background: #3ca735;
}

.dialog-button p {
    color: white;
}

.dialog-button svg path {
    fill: white;
}

.dialog-button-alt.greyed-button:hover {
    background: dodgerblue;
}
