/* General App colors */
body {
    background: #2f2f2f;
}

/* About panel */
#about-panel {
    background: #262626;
    box-shadow: -6px 5px 15px 0px #171717;
}

/* Player */
.track-info h4, .track-info .middle .duration p {
    color: white;
}

svg path.stroked {
    stroke: #dedede;
}
svg path.filled {
    fill: #dedede;
}

.player-container .image-holder .default-album-art path {
    fill: #525252;
}

.player-container .panel-holder .image-holder svg.prev polygon,
.player-container .panel-holder .image-holder svg.play polygon,
.player-container .panel-holder .image-holder svg.next polygon {
    fill: #c7c7c7;
}

input[type="range"].slider {
    background: #525252;
}

/* - Scroll bars - */

/* Scrollbar track */
::-webkit-scrollbar {
    background: #212121;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #c7c7c7;
}

/* - Error messages - */
.status-message, .error-message, .warn-message, .fail-message {
    background: #262626;
}

.status-message {
    border-color: #3ca735;
    color: #3ca735;
}

.status-message .cancel-btn svg path {
    fill: #3ca735;
}

.error-message {
    border-color: #d24136;
}

/* App EQ */
.eq-container {
    background: #262626;
    color: #cecece;
    box-shadow: -6px 5px 15px 0px #171717;
}

.eq-container .eq-inner-container .eq input.preamp, .eq-container .eq-inner-container .eq .Hz-container input.Hz-item, .eq-container .eq-inner-container .eq .KHz-container input.KHz-item {
    background: #4e4e4e;
}


/* Search Component colors */
.search-icon path{
    fill: #737373;
}

.search-icon:hover path {
    fill: white;
}

.div-hor.holder input#search-input {
    background: #4e4e4e;
    color: #e0e0e0;
}

.div-hor.holder input#search-input::placeholder {
    color: #e0e0e0;
}


/* SidePane Component colors */
#app .vertical-div {
    background: #262626;
}

#app .vertical-div .entity p {
    color: #cecece;
}

#app .vertical-div .entity.greyedText p {
    color: #7c7c7c;
}

#app .vertical-div .empty-listing h4 {
    color: #525252;
}

#app .vertical-div::-webkit-scrollbar, #app .vertical-div-holder::-webkit-scrollbar {
    background: #171717;
}

#app .vertical-div::-webkit-scrollbar-thumb, #app .vertical-div-holder::-webkit-scrollbar-thumb {
    background: #808080;
}

#app .vertical-div .entity p:hover {
    color: #2b96ffad;
}


/* Toolset Component colors */
.main-toolset-container {
    box-shadow: 0px 4px 15px 0px #171717;
    background: #212121;
}

.main-toolset-container .item .icon path, .main-toolset-container-alt .item .icon path {
    fill: #cecece;
}


/* Audio / settings Toolset */
.bar.greyBar {
    background: #525252;
}

.main-toolset-container .item svg.icon.greyedIcon path {
    fill: #525252;
}


/* Trackspane Component colors */
.tracklist {
    background: #2f2f2f;
}

.empty-pool-info svg path {
    fill: #171717;
}

td, th {
    color: #a0a0a0;
}

th {
    background: #262626;
}

tr.dim-track {
    opacity: 0.2;
}

tr:nth-child(odd) {
    background: #353535;
}

#track-item:nth-child(even) td, #track-item:nth-child(odd) td {
    color: #cecece;
}

.empty-pool-info h4 {
    color: #171717;
}

.playlist-modal {
    background: #2f2f2f;
    border-color: #7c7c7c;
    color: #cecece;
}

.playlist-input {
    background: none;
    border-color: #7c7c7c;
    color: #cecece;
}

#track-item.playingTrack td {
    background: #545454;
    color: #b7b8b9;
}


/* Settings */
.main-panel {
    background: #2f2f2f;
}

.main-panel h3 {
    color: #cecece;
}

.info {
    color: #cecece;
}

/* General */
.option-item input  {
    border-bottom: 2px solid grey;
    color: grey;
}

.option-item input::placeholder {
    color: white;
    opacity: 0.4;
}

.flex .switch {
    background: #4e4e4e;
}

.flex .slider {
    background: #cecece;
}

.flex .slider.checked {
    background: #dedede;
}

.flex select, select.preset-select {
    background: #3e3e3e;
    color: white;
}

.flex button {
    background: #4e4e4e;
    color: white;
}

.flex button:hover {
    background: #d24136;
}

input#settings-input {
    border-bottom-color: grey;
}

.flex button.dialog-button-alt:hover {
    background: #d24136;
}

.flex .dialog-button-alt.furthest:hover {
    background: #3ca735;
}

/* Audio */
.option-item p {
    color: #cecece;
}

.option-item button.arrow:hover {
    background: dodgerblue;
}