/* General App colors */
body {
    background: #ffffff;
}

/* Player */
.track-info h4, .track-info .middle .duration p {
    color: #a0a0a0;
}

svg path.stroked {
    stroke: #a0a0a0;
}
svg path.filled {
    fill: #a0a0a0;
}

.player-container .image-holder .default-album-art path {
    fill: #ececec;
}

input[type="range"].slider {
    background: #d6d6d6;
}

input[type="range"].slider.checked {
    background: #e6e6e6;
}

/* - Scroll bars - */

/* Scrollbar track */
::-webkit-scrollbar {
    background: #eaeaea;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #b2b2b5;
}

/* - Error messages - */
.status-message, .error-message, .warn-message, .fail-message {
    background: white;
}

.status-message {
    border-color: #8bc34a;
    color: #8bc34a;
}

.status-message .cancel-btn svg path {
    fill: #8bc34a;
}

.error-message {
    border-color: #ff7a70;
}

/* App EQ */
.eq-container {
    background: #ececec;
    color: #9e9e9e;
    box-shadow: -6px 5px 15px 0px #b3b3b37d;
}

.eq-container .eq-inner-container .eq input.preamp, .eq-container .eq-inner-container .eq .Hz-container input.Hz-item, .eq-container .eq-inner-container .eq .KHz-container input.KHz-item {
    background: #dadada;
}


/* Search Component colors */
.search-icon path{
    fill: #cecece;
}

.search-icon:hover path {
    fill: #a0a0a0;
}

.div-hor.holder input#search-input {
    background: white;
    color: #a0a0a0;
}


/* SidePane Component colors */
#app .vertical-div {
    background: #ececec;
}

#app .vertical-div .entity p {
    color: #a0a0a0;
}

#app .vertical-div .entity.greyedText p {
    color: #cccccc;
}

#app .vertical-div .empty-listing h4 {
    color: #c5c5c5;
}

#app .vertical-div::-webkit-scrollbar, #app .vertical-div-holder::-webkit-scrollbar {
    background: #d8d8d8;
}

#app .vertical-div::-webkit-scrollbar-thumb, #app .vertical-div-holder::-webkit-scrollbar-thumb {
    background: #b7b8b9;
}


/* Toolset Component colors */
.main-toolset-container, .main-toolset-container-alt {
    box-shadow: 0px 4px 15px 0px lightsteelblue;
}

.main-toolset-container .item .icon path, .main-toolset-container-alt .item .icon path {
    fill: #a0a0a0;
}


/* Audio / settings Toolset */
.bar.greyBar {
    background: #cecece;
}

.main-toolset-container .item svg.icon.greyedIcon path {
    fill: #cecece;
}


/* Trackspane Component colors */
.empty-pool-info svg path {
    fill: #cecece;
}

thead {
    border: 1px solid rgba(247, 247, 247, 1);
}

td, th {
    color: #a0a0a0;
}

tr.dim-track {
    opacity: 0.4;
}

tr th {
    background: none;
    color: #808088;
}

tbody tr:nth-child(odd) {
    background: rgba(247, 247, 247);
}

.hover#track-item td, .hover div {
    background: rgba(30, 144, 255, 0.51);
}

.empty-pool-info h4 {
    color: #b7b8b9;
}

.playlist-modal {
    background: white;
    border-color: lightgrey;
    color: grey;
}

.playlist-input {
    background: none;
    border-color: lightgrey;
    color: grey;
}

#track-item.playingTrack td {
    background: #d8d8d8;
    color: grey;
}


/* Settings */
.main-panel h3 {
    color: #9e9e9e;
}

.info {
    color: #9c9c9c;
}

/* General */
.option-item input  {
    border-bottom: 2px solid #dcdbdc;
    color: #cacaca;
}

.option-item input::placeholder {
    color: #bbbbbb;
}

.flex .switch {
    background: #f5f5f5;
}

.flex .slider {
    background: #dadada;
}

.flex .slider.checked {
    background: #1068bfb0;
}

.flex select, select.preset-select {
    color: grey;
}

.flex button {
    background: #97a4b7de;
    color: white;
}

.flex button.dialog-button:hover {
    background: rgba(110, 133, 167, 0.87);
}

.flex button:hover, .flex button.dialog-button-alt.further.widthless:hover {
    background: #ff7a70;
}

input#settings-input {
    border-bottom-color: #ececec;
}

.flex .dialog-button.furthest:hover {
    background: #8bc34a;
}

.flex .dialog-button-alt:hover {
    background: #ff7a70;
}

.flex .flexed-div-holder::-webkit-scrollbar {
    background: #eaeaea;
}

/* Audio */
.option-item p {
    color: #9c9c9c;
}

.option-item button.arrow {
    background: #f2f2f2;
    color: grey;
}

.option-item button.arrow:hover {
    background: dodgerblue;
    color: white;
}