/* General App colors */
body {
    background: #0e2c42;
}

/* Player */
.track-info h4, .track-info .middle .duration p {
    color: white;
}

svg path.stroked {
    stroke: #dedede;
}
svg path.filled {
    fill: #dedede;
}

.player-container .image-holder .default-album-art path {
    fill: #1e4058;
}

input[type="range"].slider {
    background: #2a4558;
}

/* - Scroll bars - */

/* Scrollbar track */
::-webkit-scrollbar {
    background: #134569;
}

::-webkit-scrollbar-thumb {
    background: #4e95ff;
}

/* - Error messages - */
.status-message, .error-message, .warn-message, .fail-message {
    background: #0c2535;
}

.status-message {
    border-color: #3ca735;
    color: #3ca735;
}

.status-message .cancel-btn svg path {
    fill: #3ca735;
}

.error-message {
    border-color: #d24136;
}

/* App EQ */
.eq-container {
    background: #0c2535;
    color: #cecece;
    box-shadow: -6px 5px 15px 0px #091c2b;
}

.eq-container .eq-inner-container .eq input.preamp, .eq-container .eq-inner-container .eq .Hz-container input.Hz-item, .eq-container .eq-inner-container .eq .KHz-container input.KHz-item {
    background: #1e4058;
}


/* Search Component colors */
.search-icon path{
    fill: #275473;
}

.search-icon:hover path {
    fill: #208bf5;
}

.div-hor.holder input#search-input {
    background: #1e4058;
    color: #cecece;
}

.div-hor.holder input#search-input::placeholder {
    color: #e6e6e6;
}


/* SidePane Component colors */
#app .vertical-div {
    background: #0c2535;
}

#app .vertical-div .entity p {
    color: #cecece;
}

#app .vertical-div .entity.greyedText p {
    color: #7c7c7c;
}

#app .vertical-div .empty-listing h4 {
    color: #346588;
}

#app .vertical-div::-webkit-scrollbar, #app .vertical-div-holder::-webkit-scrollbar {
    background: #163f5d;
}

#app .vertical-div .entity p:hover {
    color: #0081ffc4;
}


/* Toolset Component colors */
.main-toolset-container, .main-toolset-container-alt {
    box-shadow: 0px 4px 15px 0px #091c2b;
    background: #0e2c42;
}

.main-toolset-container .item .icon path, .main-toolset-container-alt .item .icon path {
    fill: #cecece;
}


/* Audio / settings Toolset */
.bar.greyBar {
    background: #346588;
}

.main-toolset-container .item svg.icon.greyedIcon path {
    fill: #346588;
}


/* Trackspane Component colors */
.tracklist {
    background: #0e2c42;
}

.empty-pool-info svg path {
    fill: #0c2031;
}

td, th {
    color: #d8d8d8;
}

th {
    background: #113754;
}

tr.dim-track {
    opacity: 0.2;
}

tr:nth-child(odd) {
    background: #0b263a;
}

tbody tr:hover td, tbody tr:hover div {
    background: rgba(30, 144, 255, 0.51);
}

#track-item:nth-child(even) td, #track-item:nth-child(odd) td {
    color: #cecece;
}

#track-item:nth-child(even) td {
    background: #0e314a;
}

.empty-pool-info h4 {
    color: #071725;
}

.playlist-modal {
    background: #0f2435;
    border-color: #2a4558;
    color: #cecece;
}

.playlist-input {
    background: none;
    border-color: #2a4558;
    color: #cecece;
}

.playlist-input::placeholder {
    color: #cecece;
}

#track-item.playingTrack td {
    background: #275473;
    color: #dedede;
}


/* Settings */
.main-panel {
    background: #0e2c42;
}

.main-panel h3 {
    color: #cecece;
}

.info {
    color: #cecece;
}

/* General */
.option-item input  {
    border-bottom: 2px solid #bbbbbb;
    color: #bbbbbb;
}

.option-item input::placeholder {
    color: #bbbbbb;
}

.flex .switch {
    background: #1e4058;
}

.flex .slider {
    background: #dedede;
}

.flex .slider.checked {
    background: #dedede;
}

.flex select, select.preset-select {
    background: #1e4058;
    color: white;
}

.flex button {
    background: #2a4558;
    color: white;
}

.flex button:hover {
    background: #d24136;
}

input#settings-input {
    border-bottom-color: #bbbbbb;
}

.flex .dialog-button.furthest:hover {
    background: #3ca735;
}

.flex .dialog-button-alt:hover {
    background: #d24136;
}

/* Audio */
.option-item p {
    color: #bbbbbb;
}

.option-item button.arrow:hover {
    background: dodgerblue;
}